# -----------------------------
# Python
# -----------------------------
.venv/
venv/
__pycache__/
*.py[cod]
.env

# -----------------------------
# Raw data (do not commit)
# -----------------------------
data/log_search/
data/log_search/**

# Keep sample data
!data/sample/
!data/sample/**

# -----------------------------
# Spark output
# -----------------------------
output/
output/**

# -----------------------------
# OS / Editor
# -----------------------------
.DS_Store
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log
